* {
    margin: 0;
    padding: 0;
}

body {
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #ededed;
}


.calc{

    width: 500px;
    /* height: 600px; */
    background-color: #444;
}
.calc__input{

    padding: 10px;
}
.calc__input input{

    background-color: transparent;
    border: 0;
    height: 80px;
    width: 100%;
    color: #fff;
    text-align: right;
    font-size: 30px;

}

.calc__btns{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 90px);
}

.calc__btns_contain{

    background-color: #00000080;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 30px;
    transition: 0.2s ease-in-out;
    border: 1px solid transparent;
}

.calc__btns_contain:hover{

    background-color: #000;
    border: 1px solid #ffffffdc;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.445);

}

.calc__btns_contain-equals{

    background-color: #3c7c1180;
    position: relative;
}

.calc__btns_contain-equals:hover{

    background-color: #3c7c11;
}

.calc__btns_contain-math{

    /* background-color: #112a7c80; */
    background-color: #000000b2;
}

.calc__btns_contain-math:hover{

    background-color: #0b1844;
}

.calc__btns_contain-plus,
.calc__btns_contain-minus,
.calc__btns_contain-mupl,
.calc__btns_contain-equals{

    color: transparent;
}

.calc__btns_contain-plus::after,
.calc__btns_contain-minus::after,
.calc__btns_contain-mupl::after,
.calc__btns_contain-equals::after{

    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    position: absolute;

}

.calc__btns_contain-plus::before,
.calc__btns_contain-mupl::before,
.calc__btns_contain-equals::before{

    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transform: rotate(90deg);
}

.calc__btns_contain-mupl::after{

    transform: rotate(45deg);
}


.calc__btns_contain-mupl::before{

    transform: rotate(-45deg);
}

.calc__btns_contain-equals::before{

    transform: rotate(0);
    top: 35px;
}

.calc__btns_contain-equals::after{

    top: 45px;
}